textarea.scriptie-talkie {
  display: block;
  margin: 20px;
  width: 600px;
}

.scriptie-talkie-editor,
.scriptie-talkie-terminal {
  position: absolute;
  top: 5px;
  bottom: 0;
  height: 100%;
  width: 50%;
}

.scriptie-talkie-editor {
  left: 0;
  right: 50%;
}

.scriptie-talkie-terminal {
  background    :  black;
  font-size     :  12px;
  font-family   :  Terminus,Consolas,Profont,Monaco,Inconsolata,Inconsolata-g,
      Unifont,Lime,"ClearlyU PUA",Clean,"DejaVu Sans Mono","Lucida Console",
      "Bitstream Vera Sans Mono",Freemono,"Liberation Mono",Dina,Anka,Droid Sans Mono,
      Anonymous Pro,Proggy fonts,Envy Code R,Gamow,Courier,"Courier New",Terminal,monospace;
  right: 0;
  left: 50%;
  padding-left: 5px;
}
